@media screen and (max-width: 1200px) and (min-width: 992px) {
    .dropdown, .dropdown-toggle, a img, .dropdown-menu, header h2 {
        display: none;
    }

    header img {
        width: 120px;
        height: 120px;
    }

    .nav-link {
        font-size: 20px;
    }

    .introducao-texto {
        text-align: center;
        margin-top: -100px;
    }

    .introducao-texto p {
        margin-top: -50px;
    }

    .cards-wrapper {
        display: flex;
        gap: 5px;
    }

    .card {
        width: 330px;
    }

    footer img {
        width: 180px;
        height: 180px;
        margin-right: 50px;
    }

    footer {
        height: 200px;
    }

    .email-pin {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        gap: 20px;
    }

    .email {
        width: 80px;
        height: 50px;
    }
    
    .pin {
        width: 80px;
        height: 80px;
    }
    
    .email-conjunto, .pin-conjunto {
        display: flex;
    }
    
    .email-conjunto p, .pin-conjunto p {
        font-size: 25px;
        margin-top: 10px;
    }
    
    .pin-conjunto p {
        margin-top: 20px;
    }

    .contato {
        margin-top: 50px;
    }

    a img {
        margin-bottom: -20px;
    }

    .avaliacao-boa {
        margin: 0;
        width: 300px;
    }

    .avaliacao-ruim {
        width: 300px;
        margin: 0;
    }

    .avaliacao {
        display: flex;
        justify-content: space-between;
        margin: 0 150px;
    }

    .professores img {
        width: 280px;
        height: 280px;
    }
}