@media screen and (max-width: 992px) and (min-width: 768px){
    .dropdown, .dropdown-toggle, a img, .dropdown-menu, header h2 {
        display: none;
    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    } 


    header img {
        width: 120px;
        height: 120px;
    }

    .nav-link {
        font-size: 20px;
    }

    .introducao-texto {
        text-align: center;
        margin-top: -100px;
    }

    .introducao-texto p {
        margin-top: -50px;
    }

    .card {
        width: 500px;
        height: 500px;
    }

    footer {
        height: 150px;
    }

    footer img {
        width: 80px;
        height: 80px;
        margin-right: 50px;
    }

    .email-pin {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }

    .email {
        width: 40px;
        height: 30px;
    }
    
    .pin {
        width: 40px;
        height: 40px;
    }
    
    .email-conjunto, .pin-conjunto {
        display: flex;
    }
    
    .email-conjunto p, .pin-conjunto p {
        font-size: 15px;
        margin-left: -30px;
    }
    
    .pin-conjunto p {
        margin-top: 15px;
    }

    .contato {
        margin-top: 50px;
    }

    a img {
        margin-bottom: -20px;
    }

    .card-text {
        margin-bottom: 20px;
    }

    .clientes-titulo {
        text-align: center;
    }

    .avaliacao-boa {
        margin: 0;
        width: 250px;
    }

    .avaliacao-ruim {
        width: 250px;
        margin: 0;
    }

    .avaliacao {
        display: flex;
        justify-content: space-between;
        margin: 0 150px;
    }

    .professores img {
        width: 200px;
        height: 200px;
    }
}
